.fertilizers{
    background-color: #f3f9ff;
    padding: 15px 15px 30px 15px;
}
.fertilizers .page-title{
    background-color: #ffffff;
    padding: 15px;
    text-align: left;
}
.fertilizers .card{
    background-color: transparent;
    border: none;
    border-radius: 0;
}
.fertilizers .card-box{
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}