.dashboard{
    background-color: #eee;
    padding-top: 85px;
}
.dashboard .content-load{
    padding-left: 280px;
    padding-right: 15px;
    padding-top: 15px;
    height: 100%;
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.dashboard .content-load .page-box{
    background-color: #ffffff;
    min-height: 600px;
    padding: 15px;
    margin-bottom: 15px;
}
.dashboard .content-load .page-box .page-header{
    text-align: left;
    padding: 15px 0;
    border-bottom: solid 1px #eeeeee;
    margin-bottom: 30px;
}
.dashboard .content-load .page-box .page-header .title{
    font-weight: 600;
}
.dashboard .content-load .page-box .page-header a{
    color: #ffffff;
}